* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

button {
    background-color: #4b4b4b;
    font-size: 1rem;
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    padding: .5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#close-btn {
    display: none;
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: transparent;
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 102;
}

#close-btn.mostrar {
    display: block;
}

button:hover {
    background-color: #808080;
    transform: scale(1.1);
}

/*Sección imágen principal*/
.imagen-institucion {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.imagen-institucion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-sobre-imagen-inicio {
    text-align: center;
    padding: 2.5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-decoration: underline;
    text-decoration-color: #e7dac2;
    font-size: 2.5rem;
    z-index: 99;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #e7dac2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}




/*Cards de secciones*/
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.cards h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 24rem;
    height: 18rem;
    margin: 1rem;
    position: relative;
    perspective: 100rem;
    border-radius: 1rem;
    overflow: hidden;
}

.card-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
}

.card-back {
    background-color: rgba(75, 75, 75, 0.9);
    transform: rotateY(180deg);
}

.card-front img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    position: relative;
}

.card-front h3 {
    width: 100%;
    bottom: 1em;
    left: 25%;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
}

.card-back h3 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
}

.card-back p {
    margin-bottom: 1.5rem;
    font-size: 1.5em;
}

.card-back a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color:#1b1b1b;
    transition: background-color 0.3s;
}