html, body{
    height: 100%;
    position: relative;
}

.footer{
    
    margin-bottom: 0px;
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1b1b1b;
    font-weight: bold;
    bottom: 0px;
    margin-bottom: 0px;
    left: 0;
    right: 0;
    background: #111;
    height: 50px;
    padding-top: 40px;
    color: #fff;
    width: 100%;
}