html, body{
    height: 100%;
    position: relative;
}

.footer{
    margin-bottom: 0px;
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #078196;
    font-weight: bold;
    bottom: 0px;
    height: 20px;
    padding-top: 20px;
    color: #fff;
    position: fixed;
}