.infoAlumno{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1024px;
    border: 2px solid #078196;
    border-radius: 20px;
}

.contenedorImagen{
    width: 350px;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.imagenAlumno{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.enlaceAlumno{
    display: flex;
}

.info{
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    width: 80%;
    height: auto;
    font-size: larger;
}

.nombreAlumno{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-decoration: underline;
    text-decoration-color: #e7dac2;
    font-size: 2rem;
}

.item_alumno:hover {
    filter: brightness(0.3);
}

.item_alumno:first-of-type {
    grid-column: 2 /span 2;
}


@media screen and (max-width:  600px){
    .conteneroInfoAlumno
    {        
        width: 90%;
        margin-top: 50px;
    }
    .infoAlumno{
        width: 100%;  
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }
    .info{
        width: 90%;
        margin-left: 40px;
        margin-top: 20px;
    }
    .contenedorImagen{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .imagenAlumno{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .contenedor-img{
        display: none;
    }
}